/* nav underline */
.main-nav-links .active:after {
    width: 3rem;
}

/* header underline size */
h1:after {
    width: 9rem;
}

.initial-content img {
    border: 1px solid var(--border-color);
    font-style: italic;
    margin: .70rem auto auto .70rem;
    max-height: 30vw;
    user-select: none;
    width: 90%;
    vertical-align: middle;
}