/* Header underline size */
h1:after {
    width: 11rem;
}

.initial-content img {
    border: 1px solid var(--border-color);
    font-style: italic;
    margin: 0.75rem auto auto .50rem;
    max-height: 30vw;
    user-select: none;
    width: 100%;
    vertical-align: middle;
}