/* Colors */
:root {
    --link-color: hsl(0 100% 32%);
    --hover-link-color: hsl(0 100% 18%);
    --background-color: hsl(0 0% 94%);
    --border-color: hsl(209 30% 20%);
    --alt-border-color: hsl(209 30% 15%);
    --text-color: hsl(210 29% 3%);
}

/* All styling */
* {
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    letter-spacing: -0.01rem;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    text-wrap: balance;
}

/* Accessible line-height and main background color */
body {
    background-color: var(--background-color);
    line-height: 1.6;
}

/* Header typography */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

/* Main header text size */
h1 {
    font-size: 2.5rem;
}

/* Header underline */
h1:after {
    border: 1px solid var(--border-color);
    content: "";
    display: block;
    margin: auto;
    margin-bottom: 0.5rem;
}

/* Header side lines */
h2:before,
h2:after {
    border-top: 2px solid var(--border-color);
    content: "";
    display: inline-block;
    margin: 0 1rem;
    width: 2rem;
}

/* Add animation and color to all content links */
body a {
    color: var(--link-color);
    transition: color 0.2s ease-in-out;
}

/* Change all content link hover color */
body a:hover {
    color: var(--hover-link-color);
}

/* Small divider */
.border {
    border: 1px solid var(--border-color);
}

/* Nav top */
.top-nav {
    align-items: center;
    background-color: var(--alt-border-color);
    display: flex;
    gap: 2rem;
    justify-content: flex-end;
    list-style: none;
    padding: 0.15rem 10rem 0.15rem;
    user-select: none;
    width: 100%;
}

.top-nav a {
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}

.top-nav li a {
    color: var(--background-color);
    font-weight: 500;
}

.top-nav li a:hover {
    text-decoration: underline;
}

.top-nav .active {
    text-decoration: underline;
}

/* Nav logo */
.logo {
    display: flex;
    flex: 1;
    user-select: none;
}

.logo img {
    height: auto;
    max-width: 12rem;
}

/* Nav main */
.main-nav {
    align-items: center;
    display: flex;
    font-size: 1.25rem;
    justify-content: space-between;
    padding: 0.3rem 10rem 0.3rem;
    user-select: none;
    width: 100%;
}

.main-nav ul {
    display: flex;
    gap: 2rem;
    list-style: none;
}

.main-nav-links a {
    color: var(--text-color);
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    transition: color 0.2s ease-in-out;
    text-decoration: none;
}

.main-nav-links .active,
.main-nav-links .active:hover,
.main-nav-links a:hover {
    color: var(--link-color);
}

/* Inital content */
.initial-content {
    margin: auto;
    max-width: 75%;
    padding: 1.5rem 1.5rem;
    text-align: center;
}

.initial-content h2 {
    padding-top: 1.25rem;
}

.initial-content p,
.initial-content li {
    font-size: 1.25rem;
}

.initial-content li {
    list-style: none;
}

/* Scroll back top button */
#top-btn {
    animation: button-fade 0.2s ease-in-out;
    background-color: transparent;
    border: none;
    bottom: -0.01rem;
    color: var(--text-color);
    cursor: pointer;
    display: none;
    font-size: 1.5rem;
    left: 50%;
    outline: none;
    position: fixed;
    transform: translate(-50%);
    transition: color 0.2s ease-in-out;
    user-select: none;
}

#top-btn:hover {
    color: var(--link-color);
}

/* Footer */
footer {
    background-color: var(--border-color);
}

footer a {
    color: var(--background-color);
    user-select: none;
    text-decoration: none;
}

footer a:hover {
    color: var(--background-color);
    text-decoration: underline;
}

footer .active {
    text-decoration: underline;
}

.footer-content {
    border-top: 20px solid var(--border-color);
    color: var(--background-color);
    display: flex;
    padding-top: 0.5rem;
    padding-bottom: 1.75rem;
}

.footer-link {
    margin: 0 auto;
}

.footer-link ul,
.footer-link p {
    list-style: none;
    padding-top: 0.5rem;
}

.footer-link h3 {
    border-bottom: 1px solid var(--background-color);
}

.contact a {
    text-decoration: underline;
}

.contact a:hover {
    text-decoration: none;
}

.footer-copyright {
    background-color: var(--alt-border-color);
    color: var(--background-color);
    display: flex;
    justify-content: space-between;
    padding: 0.3rem 1.25rem 0.3rem;
    user-select: none;
}

/* Animations */
@keyframes button-fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}