/* Logo matched color variables */
:root {
    --link-color: hsl(0 100% 17%);
    --alt-link-color: hsl(6 69% 35%);
    --background-color: hsl(0 0% 94%);
    --border-color: hsl(209 30% 19%);
    --alt-border-color: hsl(209 30% 15%);
    --text-color: hsl(210 29% 3%);

}

/* All styling */
* {
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    letter-spacing: -0.01rem;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    text-wrap: balance;
}

/* Accessible line-height and main background color */
body {
    background-color: var(--background-color);
    line-height: 1.6;
}

/* Remove default typography styles */
input,
button,
textarea,
select {
    font: inherit;
}

/* Header typography */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

/* Header side lines */
h2:before,
h2:after {
    border-top: 3px solid var(--text-color);
    content: "";
    display: inline-block;
    margin: 0 1rem;
    transform: translateY(-.75rem);
    width: 3rem;
}

/* Add animation and color to all content links */
body a {
    color: var(--link-color);
    text-decoration: none;
    transition: color 0.2s ease-in-out;
}

/* Change all content link hover color */
body a:hover {
    color: var(--alt-link-color);
}

/* Line break via padding instead of <br> tags */
.line-break {
    padding-bottom: 1.5rem;
}

.double-line-break {
    padding-bottom: 3rem;
}

/* Big divider */
hr.border-big {
    border: 50px solid var(--border-color);
}

/* Small divider */
hr.border-small {
    border: 1px solid var(--border-color);
}

/* Scroll back top button */
#top-btn {
    animation: button-fade 0.2s ease-in-out;
    background-color: transparent;
    border: none;
    bottom: -0.01rem;
    color: var(--text-color);
    cursor: pointer;
    display: none;
    font-size: 1.5rem;
    left: 50%;
    outline: none;
    position: fixed;
    transform: translate(-50%);
    transition: color 0.2s ease-in-out;
    user-select: none;
}

#top-btn:hover {
    color: var(--alt-link-color);
}

/* Nav top */
.top-nav {
    align-items: center;
    background-color: var(--alt-border-color);
    display: flex;
    justify-content: flex-end;
    list-style: none;
    padding: 6rem;
    padding-bottom: 0.15rem;
    padding-top: 0.15rem;
    width: 100%;
}

.top-nav a {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.top-nav li a {
    color: var(--background-color);
    padding: 1rem;
}

.top-nav li a:hover {
    color: var(--alt-link-color);
}

.top-nav .active {
    color: var(--link-color);
}

/* Nav logo */
.logo {
    display: flex;
    flex: 1;
    user-select: none;
}

.logo img {
    height: auto;
    max-width: 12rem;
}

/* Nav main */
.main-nav {
    align-items: center;
    display: flex;
    font-size: 1.25rem;
    justify-content: space-between;
    padding: 6rem;
    padding-bottom: 0.3rem;
    padding-top: 0.3rem;
    width: 100%;
}

.main-nav ul {
    display: flex;
    list-style: none;
}

.main-nav-links a {
    color: var(--text-color);
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    padding: 1rem;
}

.main-nav-links .active {
    color: var(--link-color);
    font-weight: bold;
}

.main-nav-links .active:hover {
    color: var(--link-color);
}

.main-nav-links a:hover {
    color: var(--alt-link-color);
}

/* Footer */
footer {
    background-color: var(--border-color);
    text-align: center;
}

footer .footer-content {
    border-top: 20px solid var(--border-color);
    color: var(--background-color);
    padding-top: 0.5rem;
    padding-bottom: 1.75rem;
}

footer .footer-copyright {
    background-color: var(--alt-border-color);
    color: var(--background-color);
    display: flex;
    justify-content: space-between;
    padding: 1.25rem;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
}

footer a {
    color: var(--alt-link-color);
}

footer a:hover {
    color: var(--background-color);
    font-weight: 400;
}

/* Animations */
@keyframes button-fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}