/* Header underline size */
h1:after {
    width: 18rem;
}

/* Remove header side lines */
h2:before,
h2:after {
    display: none;
}

/* Possibly call in base.css */
.initial-content a {
    text-decoration: none;
}