/* Header underline size */
h1:after {
    width: 14rem;
}

/* Header side lines position */
h2:before,
h2:after {
    transform: translateY(-.55rem);
}


/* Slideshow */
.slideshow {
    height: 30vw;
    position: relative;
}

.slide {
    display: none;
}

.slide img {
    font-style: italic;
    max-height: 30vw;
    user-select: none;
    width: 100%;
    vertical-align: middle;
}

/* Courthouse and Notices */
.courthouse,
.notices {
    font-size: 1.25rem;
    justify-content: center;
    padding: 1.5rem 1.5rem;
    text-align: center;
}

.courthouse h2,
.notices h2 {
    padding-bottom: 0.5rem;
}

.courthouse ul:not(:last-child),
.notices ul {
    padding-bottom: 1.5rem;
}

.courthouse li,
.notices li {
    list-style: none;
}

.courthouse a,
.notices a {
    text-decoration: none;
}

/* Animations */
.slide-fade {
    animation-name: slide-fade;
    animation-duration: .85s;
}

@keyframes slide-fade {
    from {
        opacity: .75
    }

    to {
        opacity: 1
    }
}