/* nav underline */
.main-nav-links .active:after {
    width: 3.10rem;
}

/* header underline size */
h1:after {
    width: 12rem;
}

/* slideshow */
.slideshow {
    max-height: 30vw;
    position: relative;
}

.slide {
    display: none;
}

.slide img {
    max-height: 30vw;
    user-select: none;
    width: 100%;
}

/* animations */
.slide-fade {
    animation-name: slide-fade;
    animation-duration: .85s;
}

@keyframes slide-fade {
    from {
        opacity: .75
    }

    to {
        opacity: 1
    }
}