/* Header underline */
h1:after {
    border: 1px solid var(--text-color);
    content: "";
    display: block;
    margin: auto;
    margin-bottom: 1rem;
    width: 16rem;
}

/* Slideshow */
.slideshow {
    height: 30vw;
    position: relative;
    width: 100%;
}

/* Slides */
.slide {
    display: none;
}

.slide img {
    max-height: 30vw;
    user-select: none;
    width: 100%;
}

/* Welcome */
.welcome {
    margin: auto;
    max-width: 75%;
    padding-top: 0.9rem;
    text-align: center;
}

.welcome h1 {
    font-size: 2.5rem;
}

.welcome p {
    font-size: 1.25rem;
}

/* Courthouse and Notices */
.courthouse,
.notices {
    font-size: 1.25rem;
    justify-content: center;
    padding-bottom: 1.25rem;
    padding-top: 1.25rem;
    text-align: center;
}

.courthouse li,
.notices li {
    list-style: none;
}